.dndAvatarStyle {
    width: 10rem;
    height: 10rem;
    background: #3f5161;
    border: 3px solid #8ac7eb;
    border-radius: 50%;
}

.whiteText {
    color: #fafafa;
}

.avatarIconSize {
    padding-top: 1rem;
    font-size: 3rem;
}
.hideElement{
	visibility:hidden;
}