.dndAvatarStyle {
    width: 10rem;
    height: 10rem;
    background: #3f5161;
    border: 3px solid #8ac7eb;
    border-radius: 50%;
}

.whiteText {
    color: #fafafa;
}

.avatarIconSize {
    padding-top: 1rem;
    font-size: 3rem;
}

.hideElement {
    visibility: hidden;
}

.dndAvatarOnDrag {
    visibility: hidden;
}

.dndHover {
    background: #2b7d2ba6;
    border: 3px solid #3f5161;
}

.dndHoverActive {
    background: #2b7d2b;
    border: 3px solid #3f5161;
}

.vboxBorder {
    border: 1px solid #7c9cb8;
    border-radius: 10px;
    background: #eff4f9;
}

.panelBorder{
    
}